@(slice: io.prismic.fragments.Slice)(implicit ctx: PrismicHelper.Context)

<div class="collapsed-items">
	@slice.value match {
		case f: io.prismic.fragments.Group => {
			@f.docs.zipWithIndex.map { case(doc, index) =>
				<div class="text-wrapper">
					<div class="title">
						@doc.getStructuredText("title").map{ text => 
							@Html(text.asHtml(ctx.linkResolver)) 
						}
					</div>
					<div class="collapsed-block">
						@doc.getStructuredText("summary").map{ text => 
							@Html(text.asHtml(ctx.linkResolver))
						}
					</div>
				</div>
			}
		}
	}
</div>