@(slice: io.prismic.fragments.Slice)(implicit ctx: PrismicHelper.Context)

<style>
	.twice {
		margin: 0 2rem;
	}
</style>
<div class="featured-items">
	@slice.value match {
		case f: io.prismic.fragments.Group => {
			@f.docs.zipWithIndex.map { case(doc, index) =>
				@defining(if(slice.sliceLabel == Some("col-2")) "twice col-8-sm-pt col-6-sm-ls col-4" else "col-8-sm-pt col-6-sm-ls col-4") { position =>
					<div class="item centered @position">
					<div class="thumbnail" style="background-image: url(@doc.getImage("illustration", "icon").map(_.url).getOrElse("#"))"></div>
					<div class="text-wrapper">
						@doc.getStructuredText("title").map{ text => 
							@Html(text.asHtml(ctx.linkResolver)) 
						}
						@doc.getStructuredText("summary").map{ text => 
							@Html(text.asHtml(ctx.linkResolver))
						}
						@if(doc.getText("read_more_label")) {
							<a class="read-more-button" href='@doc.getLink("read_more").map(_.getUrl(ctx.linkResolver)).getOrElse("#")'>
								@doc.getText("read_more_label")
							</a>
						}
					</div>
				</div>
				}
			}
		}
	}
</div>