@(slice: io.prismic.fragments.Slice)(implicit ctx: PrismicHelper.Context)

<div class="video-banner  @Some(slice.sliceLabel)">
	@slice.value match {
		case f: io.prismic.fragments.Group => {
		@f.docs.map { doc =>	
			<div class="video">
			<!-- autoplay loop=1 -->
				<video muted width="100%" @if(doc.getText("video_autoplay") == Some("Enabled")) { autoplay } @if(doc.getText("video_loop") == Some("Enabled")) { loop=1 } preload="none" poster="@doc.getLink("illustration").map(_.getUrl(ctx.linkResolver)).getOrElse("#")" src="@doc.getLink("video_link").map(_.getUrl(ctx.linkResolver)).getOrElse("#")" onclick="this.play();">  
				</video>
				<div class="video-container">
				@if(doc.getText("video_interactive") == Some("Enabled")) {
					<span class="play"></span>
				}
					<div class="title">
					@doc.getStructuredText("title").map{ text => 
						@Html(text.asHtml(ctx.linkResolver)) 
					}
					</div>
					@doc.getStructuredText("summary").map{ text => 
						@Html(text.asHtml(ctx.linkResolver))
					}
				</div>
			</div>
		}
	}
}
</div>